/** swagger **/
#swagger-ui-container .container {
    max-width: 960px;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header span.response_throbber {
  background-image: url('../img/throbber.gif') !important;
}
.swagger-section .api-ic {
  background: url('../img/explorer_icons.png')  no-repeat !important;
}
.swagger-section #header a#logo {
  background: transparent url('../img/TaPIR_tiny.png') no-repeat left center !important;
}

/** tree control **/
treecontrol.tree-classic li.tree-expanded i {
    background: url("../img/icons/tree/folder.png") no-repeat !important;
}

treecontrol.tree-classic li.tree-collapsed i {
    background: url("../img/icons/tree/folder-closed.png") no-repeat !important;
}

treecontrol.tree-classic li.tree-leaf i {
    background: url("../img/icons/tree/file.png") no-repeat !important;
}

treecontrol.tree-light li.tree-expanded i {
    background: url("../img/icons/tree/node-opened-2.png") no-repeat !important;
}

treecontrol.tree-light li.tree-collapsed i {
    background: url("../img/icons/tree/node-closed-2.png") no-repeat !important;
}

treecontrol.tree-dark li.tree-expanded i {
    background: url("../img/icons/tree/node-opened-light.png") no-repeat !important;
}

treecontrol.tree-dark li.tree-collapsed i {
    background: url("../img/icons/tree/node-closed-light.png") no-repeat !important;
}

treecontrol > ul > li {
    padding-left: 0;
}

/** molecule_sketch **/
#widget-molecule-render-box .structureRenderBox {
	width: 100%;
}

/** dx-grid **/
.dx-warning-icon {
    max-width: 3em;
    padding: 7px;
    text-align: center;
    color: rgb(240, 0, 0);
    display: block;
    margin: 0 auto;
}

/** toggle-switch-directive **/

toggle-switch { display: block; }

.tap-toggle-switch {
    display: inline-block;
    position: relative;
    font-weight: 400;
    cursor: pointer;
}

.tap-toggle-switch input { display: none; }
.tap-toggle-switch > .tap-toggle-label { margin-right: 10px; }

.tap-toggle-switch > .tap-switch-element {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 46px;
    color: #7B7B7B;
    background-color: #d4d4d4;
    vertical-align: middle;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.20);
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0.20);
}

.tap-toggle-switch > input:checked + .tap-switch-element { background-color: #47AF47; }

.tap-toggle-switch > .tap-switch-element:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    height: 18px;
    width: 18px;
    background-color: white;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(0,0,0,0.15);
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-out;
    border: 2px solid white;
    background: -moz-linear-gradient(45deg, #ffffff 0%, #f3f3f3 49%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(49%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #ffffff 0%,#f3f3f3 49%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #ffffff 0%,#f3f3f3 49%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #ffffff 0%,#f3f3f3 49%,#ededed 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(45deg, #ffffff 0%,#f3f3f3 49%,#ededed 51%,#ffffff 100%); /* W3C */
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.tap-toggle-switch > input:checked + .tap-switch-element:before{
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    -o-transform: translateX(24px);
    transform: translateX(24px);
}

/*
 * <tree-filterable>
 */

.filterable-tree-wrapper {
    height: 34px;
    overflow: visible;
}

.tree-filterable-poplist {
    line-height: 1.2;
    font-size: 12px;
    padding: 0;
    list-style-type: none;
}

.tree-filterable-poplist li {
    margin-bottom: 0.5em;
}

.tree-filterable-poplist li:last-child {
    margin-bottom: 0;
}

.tree-filterable-poplist span {
    font-weight: bold;
}

.filterable-tree-select {
    position: relative;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.filterable-selected-area .form-control {
    position: relative;
    cursor: pointer;
    border-color: #c6c6c6;
    background-image: linear-gradient(#fff, #f7f7f7);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filterable-selected-area .form-control[disabled],
.filterable-selected-area .form-control[disabled]:hover {
    background-image: none;
    cursor: auto;
}

.has-error .filterable-selected-area .form-control {
    border-color: #A94442;
}

.filterable-selected-area .form-control.active {
    border-radius: 4px 4px 0 0;
}

.filterable-selected-area .form-control:hover {
    background-image: linear-gradient(#fff, #e9e9e9);
}

.filterable-selected-area .form-control:after {
    content:"\f0d7";
    display: block;
    position: absolute;
    font-family: FontAwesome;
    text-align: center;
    line-height: 28px;
    right: 2px;
    top: 2px;
    width: 28px;
    height: 28px;
    background-color: rgba(240,240,240);
    pointer-events: none;
    opacity: 0.65;
}

.filterable-selected-area .form-control.loading:after {
    display: none;
}

.filterable-selected-area .form-control:hover:after {
    opacity: 1;
}

.filterable-selected-area {
    position: relative;
}

.filterable-select-area {
    position: absolute;
    background-color: white;
    min-width: 100%;
    z-index: 999;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-radius: 0 0 5px 5px;
    margin-bottom: 65px;
}

.filterable-select-area .filterable-filter {
    padding: 5px;
    background-color: #F3F3F3;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.filterable-select-area .filterable-transcluded:not(:empty) {
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.filterable-select-area .filterable-filter > div {
    overflow: hidden;
    max-height: 34px;
}

.filterable-tree-spinner {
    display: none;
    position: absolute;
    opacity: 0.7;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.loading > .filterable-tree-spinner {
    display: block;
}


.filterable-select-area .filterable-filter span{
    line-height: 32px;
}

.filterable-select-area .filterable-tree {
    padding: 10px 10px;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: auto;
}

tree-filterable treecontrol .tree-unselectable {
    color: inherit !important;
}

tree-filterable treecontrol .limited-results {
    display: block;
    color: #828282;
    font-size: 12px;
    border-top: #bdbdbd dashed 1px;
    padding: 10px 10px 0 10px;
    margin: 10px -10px 0 -10px;
}

tree-filterable treecontrol .root-node { overflow: visible; }

/*
 * </tree-filterable>
 */